@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #1c4c96;
  --secondy-color: #5d71db;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logourso {
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: 150px;
  height: 100px;
}

header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
header a {
  color: #ffff;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 150px;
}
.navbar a {
  text-decoration: none;
}
.navbar :hover {
  color: rgb(139, 112, 233);
}
.buttonTicket {
  padding: 20px 40px 20px 40px;
  background-color: #ffe600;
  color: #0029ff;
  border-radius: 55px;
}

.headset {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 42px;
  margin-left: 100px;
}

.background-video {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.head {
  text-align: center;
  color: #ffff;
  margin-top: 10rem;
}
.head h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 55px;
}
.head p {
  font-family: kabel LT Std, sans-serif;
  padding-top: 30px;
  margin-left: 42rem;
  font-weight: 600;
  font-size: 20px;
  width: 600px;
}

.background-video-attractions {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 80px 50px 100px;
}
#attractions {
  background-color: var(--main-color);
  position: relative;
  top: 300px;
  overflow: hidden;
}

.attractions-right {
  overflow: hidden;
  color: #ffff;
}

.content-right h2 {
  text-transform: uppercase;
  position: absolute;
  bottom: 52rem;
  margin-left: 45rem;
  font-family: Merriweather;
  color: #ffff;
  font-weight: 600;
  font-size: 80px;
}

.paragraph-right {
  font-family: kabel LT Std, sans-serif;
  width: 800px;
  color: #ffff;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  bottom: 27rem;
  margin-left: 45rem;
}
